/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
 
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  .form-container {
    max-width: 300px;
    background-color: white;
  }
  
  .form-container .cancel {
    background-color: red;
  }
  
  .scrollable{
    overflow-y: auto;
    max-height: 250px;
    height: 250px;
  }