
<div class="container">

    <button class="open-button rounded-circle bg-dark" (click)="openChat()"><i class="bi bi-chat-fill text-white"></i></button>
  
    <section class="chat-popup" [style]="styledisplay" style="background-color: #eee;">
      <form class="form-container">
      <div class="card ">
        <div class="card-header d-flex justify-content-between align-items-center p-3"
          style="border-top: 4px solid black;">
  
          <h5 class="mb-0">Chat</h5>
          <div class="d-flex flex-row align-items-center">
            <i class="fas fa-minus me-3 text-muted fa-md" (click)="closeChat(false)"></i>
            <i class="fas fa-times text-muted fa-md" (click)="closeChat(true)"></i>
          </div>
        </div>
        <div class="card-body scrollable" data-mdb-perfect-scrollbar="true">
        <div *ngFor="let item of chatConversation" >
          <div class="d-flex flex-row" [ngClass]="item.person == 'ChatGPT' ? 'justify-content-between' : 'justify-content-end' ">
            <p class="small mb-1"> {{item.person }} </p>
          </div>
          <div class="d-flex flex-row " [ngClass]="item.cssClass">
            <img [src]="item.imgSr" alt="avatar 1" style="width: 35px; height: 100%;">
            <div>
              <p class="small p-1 ms-1 mb-1 rounded-3" [ngClass]="item.person == 'ChatGPT' ? '' : 'bg-warning' "
                style="background-color: #f5f6f7;">{{ item.response}}</p>
            </div>
          </div>
        </div>
      </div>
        <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
          <div class="input-group mb-0">
            <input type="text" class="form-control" placeholder="Type message" aria-label="Recipient's username"
              aria-describedby="button-addon2" [(ngModel)]="promptText" />
            <button class="btn btn-dark" id="button-addon2"  (click)="checkResponse()" style="padding-top: .55rem;">
              <i class="bi bi-send"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
    </section>
  </div>