<nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
  <a class="navbar-brand"  role="button" title="Ir a la tienda" (click)="navegar('tienda')">Mi tienda
    online</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" role="button" (click)="navegar('tienda')"
            title="Ir a la tienda">Tienda<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
      <ng-template [ngIf]="sesioniniciada" [ngIfElse]="templatelogin">
        <ul class="navbar-nav d-flex flex-row me-1">
          <li class="nav-item "><a class="nav-link text-white" role="button" title="Ir mis compras"
              (click)="navegar('compras')">Mis compras</a>
          </li>
          <ul class="navbar-nav d-flex flex-row me-1"></ul>
          <li class="nav-item ">
            <a class="nav-link text-white" title="Ir al carrito" (click)="navegar('carrito')"><i
                class="fas fa-shopping-cart fa-md"
                role="button"></i>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row me-1">
          <li class="nab-item">
            <button class="btn btn-outline-light" (click)="navegar('cerrar')" title="Cerrar sesión" type="button">Cerrar
              sesión</button>
          </li>
        </ul>
      </ng-template>

      <ng-template #templatelogin>
        <ul class="navbar-nav d-flex flex-row me-1">
          <li class="nav-item "><a class="nav-link text-white" role="button" title="iniciar sesión"
              (click)="navegar('login')">Iniciar sesión</a>
          </li>

        </ul>
        <ul class="navbar-nav d-flex flex-row me-1">
          <li class="nav-item ">
            <button class="btn btn-outline-light" (click)="navegar('registrarse')" title="Ir a Registrarse"
              type="button">Registrarse</button>
          </li>
        </ul>
      </ng-template>

    </div>

  </div>

</nav>
<app-chat-gpt></app-chat-gpt>