<app-navbar></app-navbar>
<div class="container-fluid Container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-8">
      <h4 class="title-h4">Productos</h4>
      <div class="row">
        <form class="d-flex" role="search" (ngSubmit)="onSubmit($event)">
          <input class="form-control me-2" #busqueda id="busqueda" name="busqueda" type="search" placeholder="Buscar..."
            aria-label="Search">
          <button class="btn btn-outline-dark">Buscar</button>
        </form>
      </div>
      <p *ngIf="mostrarleyendacuantos" class="text-body-secondary text-cuantos"> {{ cadenacuantosobtenidos }} </p>
      <div class="container" *ngIf="!mostrarSpinner">
        <div class="row row-cols-3">
          <div class="col" *ngFor="let producto of productos">
            <article class="mb-1 product" (click)="verDetalle(producto)">
              <div class="product-body text-center">
                <img [src]="producto.imagen" class="img-producto img-fluid" />
                <h5 class="fw-bold">{{ producto.nombre }}</h5>
                <p>{{ producto.precio | currency }}</p>
              </div>
            </article>
          </div>

        </div>
        <app-spinner *ngIf="mostrarSpinner"></app-spinner>
      </div>
      
    </div>
    <div class="col">

    </div>
  </div>
</div>

<!--<app-navbar></app-navbar>
<div class="container-fluid Container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-8">
      <h4 class="title-h4">Productos</h4>
      <div class="row">
        <form class="d-flex" role="search" (ngSubmit)="onSubmit($event)">
          <input class="form-control me-2" #busqueda id="busqueda" name="busqueda" type="search" placeholder="Buscar..."
            aria-label="Search">
          <button class="btn btn-outline-dark">Buscar</button>
        </form>
      </div>
      <p *ngIf="mostrarleyendacuantos" class="text-body-secondary text-cuantos"> {{ cadenacuantosobtenidos }} </p>
      <div class="container" *ngIf="!mostrarSpinner">
        <mat-grid-list cols="3"  rowHeight="1:1">
          <mat-grid-tile class="product" *ngFor="let producto of productos">
            <article (click)="verDetalle(producto)">
             
              <div class="product-body">
                <img [src]="producto.imagen" class="img-producto img-fluid" />
                <p>{{ producto.nombre }}</p>
                <p>{{ producto.precio  | currency }}</p>
              </div>
            </article>
          </mat-grid-tile>
        </mat-grid-list>

      </div>
      <app-spinner *ngIf="mostrarSpinner"></app-spinner>
    </div>
    <div class="col">

    </div>
  </div>

</div>
-->