
.product {
    cursor: pointer;
}
.product:hover {
    transform: scale(1.1)
}

.img-producto {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.img-producto:hover {
    transform: scale(1.1);
}

.text-cuantos {
    padding-top: 10px;
    padding-left: 10px;
}
.input-cantidad-prod{
    width: 50px;
    max-width: 50px;
}
